{% extends '@layout/dynamic-layout.html.twig' %}

{% block page_content %}
<div class="card">
        {% if not mail.isTreated %}
        <div class="ribbon bg-red ribbon-top ribbon-start">NEW</div>
        {% endif %}

    <div class="card-header">
        <div>
            <div class="row align-items-center">
                <div class="col-auto">
                    <twig:Avatar :email="mail.fromAddress" />
                </div>
                <div class="col">
                    <div class="card-title">
                        {{ mail.subject }}
                        {% if mail.spamHeaders|length > 0 %}
                            {% set spamStateValue = mail.spamHeaders['X-VR-SPAMSTATE'] %}
                            <twig:SpamStateBadge :spamState="spamStateValue" />
                        {% endif %}
                    </div>
                    <div class="card-subtitle">
                        {% if mail.contact %}
                            <a href="{{ url('contact.contact.details', {contactId: mail.contact.id }) }}" title="{{ mail.fromName }} &lt;{{ mail.fromAddress }}&gt;">
                                <span class="fas fa-id-card"></span> {{ mail.contact.displayName }}
                            </a>
                        {% else %}
                            <span>{{ mail.fromName }} &lt;{{ mail.fromAddress }}&gt;</span>
                        {% endif %}
                        <time datetime="{{ mail.date|date('c') }}" title="{{ mail.date|date('r') }}">{{ mail.date|date('d/m/Y - H:i:s') }}</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-actions">
            <div class="dropdown">
                <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown"><i class="ti ti-dots-vertical"></i></a>
                <div class="dropdown-menu">
                    {% if not mail.contact %}
                        <a hx-get="{{ url('contact.new', {email: mail.fromAddress, displayName: mail.fromName}) }}"
                            hx-target="#modalEmbedContent"
                            hx-swap="outerHTML"
                            hx-headers='{"x-modal": "true"}'
                            href="#"
                            data-bs-toggle="modal"
                            data-bs-target="#modalEmbed"
                            class="dropdown-item">{{ 'webmail.action.create_contact'|trans }}
                        </a>
{#                    <a href="{{ ea_url().setRoute('create_contact_from_mail_author', { mailId: mail.id}) }}" class="dropdown-item">{{ 'webmail.action.create_contact'|trans }}</a>#}
                    <a href="{{ ea_url().setRoute('attach_contact_from_mail_author', { mailId: mail.id}) }}" class="dropdown-item">{{ 'webmail.action.attach_contact'|trans }}</a>
                    {% endif %}

                    {% if mail.treated %}
                        <a hx-put="{{ path('webmail.mail.mark_as_untreated', { mailId: mail.id }) }}"
                            hx-target="#mailList"
                            href="#"
                            class="dropdown-item">{{ 'webmail.action.mark_as_untreated'|trans }}</a>
                    {% else %}
                        <a hx-put="{{ path('webmail.mail.mark_as_treated', { mailId: mail.id }) }}"
                            hx-target="#mailList"
                            href="#"
                            class="dropdown-item">{{ 'webmail.action.mark_as_treated'|trans }}</a>
                    {% endif %}
                    <a href="{{ path('webmail.mail.debug', { mailId: mail.id }) }}" class="dropdown-item">{{ 'action.debug'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
                    <li class="nav-item">
                        <a href="#tabs-text" class="nav-link active" data-bs-toggle="tab">{{ 'webmail.tab.text'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabs-html" class="nav-link" data-bs-toggle="tab">{{ 'webmail.tab.html'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabs-headers" class="nav-link" data-bs-toggle="tab">{{ 'webmail.tab.headers'|trans }}</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tabs-text">
                        {{ mail.textPlain |nl2br }}
                    </div>
                    <div class="tab-pane" id="tabs-html">
                        <div class="alert alert-warning m-4" role="alert">
                            <h4 class="alert-title">{{ 'webmail.alert.html_disable.title'|trans }}</h4>
                            <div class="text-secondary">{{ 'webmail.alert.html_disable.message'|trans }}</div>
                        </div>
{#                        {{ mail.textHtml | raw }}#}
                    </div>
                    <div class="tab-pane" id="tabs-headers">
                        {{ mail.headerRaw |nl2br }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
