{% if sorted %}
    {% if direction == 'desc' %}
        {% set order = 'desc' %}
    {% else %}
        {% set order = 'asc' %}
    {% endif %}
{% else %}
    {% set order = '' %}
{% endif %}
{% if options.target is defined %}
    <button
        class="table-sort {{ order }}"
        hx-get="{{ options.href }}"
        hx-target="{{ options.target }}"
        hx-swap="outerHTML"
    >{{ title }}</button>
{% else %}
    <a class="btn table-sort {{ order }}" href="{{ options.href }}">{{ title }}</a>
{% endif %}
