{% extends '@layout/dynamic-layout.html.twig' %}

{% block page_content %}
<div class="card" id="mailList">
    {% if title is defined %}
    <div class="card-header">
        <div class="card-title">{{ title }}</div>
    </div>
    {% endif %}
    {% if mails|length > 0 %}
{#        {{ knp_pagination_filter(mails, {'m.fromName': ''}) }}#}
    <div class="table-responsive">
    <table class="table table-vcenter card-table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(mails, 'webmail.field.date'|trans, 'm.date', {target: '#mailList'}) }}</th>
            <th>{{ knp_pagination_sortable(mails, 'webmail.field.from'|trans, 'm.fromName', {target: '#mailList'}) }}</th>
            <th>{{ knp_pagination_sortable(mails, 'webmail.field.subject'|trans, 'm.subject', {target: '#mailList'}) }}</th>
            <th>Infos</th>
        </tr>
        </thead>
        <tbody>
        {% for mail in mails %}
            {% set cssRow = mail.isTreated ? 'class="text-secondary"' : '' %}
        <tr
            class="cursor-pointer"
            hx-get="{{ path('webmail.mail.details', { mailId: mail.id }) }}"
            hx-target="#mailList"
        >
            <td {{ cssRow|raw }}><time datetime="{{ mail.date|date('c') }}" title="{{ mail.date|date('r') }}">{{ mail.date|date('d/m/y H:i:s') }}</time></td>
            <td {{ cssRow|raw }}>

                <div class="row align-items-center flex-fill">
                    <div class="col-auto"><twig:Avatar :email="mail.fromAddress" /></div>
                    <div class="col text-body">
                    {% if mail.authorId %}
                        <div><a href="{{ url('contact.contact.details', {contactId: mail.authorId }) }}" title="{{ mail.fromName }} &lt;{{ mail.fromAddress }}&gt;">
                                <span class="ti ti-id"></span>{{ mail.authorName }}
                        </a>
                        </div>
                    {% else %}
                        <div>{{ mail.fromName }}</div>
                    {% endif %}
                        <div class="text-secondary text-truncate w-100">&lt;{{ mail.fromAddress }}&gt;</div>
                    </div>
                </div>
            </td>
            <td {{ cssRow|raw }}>{{ mail.subject }}</td>
            <td>{% if mail.spamHeaders|length > 0 %}
                    {% set spamStateValue = mail.spamHeaders['X-VR-SPAMSTATE'] %}
                    <twig:SpamStateBadge :spamState="spamStateValue" />
                {% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
        <div class="card-footer d-flex align-items-center">
            <p class="m-0 text-secondary">Showing <span>{{ (page - 1) * limit + 1 }}</span> to <span>{{ page * limit > total ? total : page * limit }}</span> of <span>{{ total }}</span> entries</p>
            <ul class="pagination m-0 ms-auto">
                {{ knp_pagination_render(mails, null, [], {target: '#mailList', first: true, last: true}) }}
            </ul>
        </div>
    {% else %}
        <div class="alert alert-info m-4" role="alert">
            <h4 class="alert-title">{{ 'webmail.alert.empty_folder.title'|trans }}</h4>
            <div class="text-secondary">{{ 'webmail.alert.empty_folder.message'|trans }}</div>
        </div>
    {% endif %}
</div>
{% endblock %}
