<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{ 'setup.card_dav.title.index'|trans }}</h3>
        <div class="card-actions">
            <a href="#" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#modalEmbed"
                hx-get="{{ url('setup.card_dav.create_account') }}" hx-target="#modalEmbedContent"
            >
                <i class="ti ti-square-plus"></i>&nbsp;{{ 'action.add'|trans }}
            </a>
        </div>
    </div>
    {% if card_dav_accounts|length > 0 %}
        <div class="card-table table-responsive">
            <table class="table table-vcenter card-table table-striped table-hover table-sm">
                <thead>
                <tr>
                    <th>{{ 'setup.card_dav.field.label'|trans }}</th>
                    <th>{{ 'setup.card_dav.field.login'|trans }}</th>
                    <th>{{ 'action.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for account in card_dav_accounts %}
                    <tr>
                        <td>{{ account.name }}</td>
                        <td>{{ account.login }}</td>
                        <td><a href="#" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#modalEmbed"
                            hx-get="{{ url('setup.card_dav.setup_address_books', {accountId: account.id }) }}" hx-target="#modalEmbedContent"
                            >Config</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info m-4" role="alert">
            <h4 class="alert-title">{{ 'list.empty.title'|trans }}</h4>
            <div class="text-secondary">{{ 'list.empty.message'|trans }}</div>
        </div>
    {% endif %}
</div>


