{% extends '/layout/tabler-layout.html.twig' %}
{% trans_default_domain 'webmail' %}

{% block page_title %}{{ 'imap.title.list'|trans }}{% endblock %}

{% block page_actions %}
    <a href="{{ url('webmail_imap_create_account') }}" class="btn btn-default"><i class="ti ti-square-plus"></i>&nbsp;{{ 'imap.action.add'|trans }}</a>
{% endblock %}

{% block page_content %}
    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table table-striped table-hover table-sm">
                <thead>
                <tr>
                    <th>{{ 'imap.field.name'|trans }}</th>
                    <th>{{ 'imap.field.login'|trans }}</th>
                    <th>{{ 'action.actions'|trans({}, 'admin') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for imapAccount in accounts %}
                    <tr>
                        <td>{{ imapAccount.name }}</td>
                        <td>{{ imapAccount.login }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{#    {{ dump(accounts) }}#}
{% endblock %}
