{% trans_default_domain 'webmail' %}

<div class="card">
        {% if not mail.isTreated %}
        <div class="ribbon bg-red ribbon-top ribbon-start">NEW</div>
        {% endif %}

    <div class="card-header">
        <div>
            <div class="row align-items-center">
                <div class="col-auto">
                    <span class="avatar" style="background-image: url(./static/avatars/003m.jpg)"></span>
                </div>
                <div class="col">
                    <div class="card-title">{{ mail.subject }}</div>
                    <div class="card-subtitle">
                        {% if mail.contact %}
                            <a href="{{ ea_url()
                                .setController('App\\Presentation\\Controller\\Admin\\ContactCrudController')
                                .setAction('detail')
                                .setEntityId(mail.contact.id)
                            }}" title="{{ mail.fromName }} &lt;{{ mail.fromAddress }}&gt;">
                                <span class="fas fa-id-card"></span> {{ mail.contact.displayName }}
                            </a>
                        {% else %}
                            <span>{{ mail.fromName }} &lt;{{ mail.fromAddress }}&gt;</span>
                        {% endif %}
                        <time datetime="{{ mail.date|date('c') }}" title="{{ mail.date|date('r') }}">{{ mail.date|date('d/m/Y - H:i:s') }}</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-actions">
            <div class="dropdown">
                <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown"><i class="ti ti-dots-vertical"></i></a>
                <div class="dropdown-menu">
                    {% if not mail.contact %}
                    <a href="{{ ea_url().setRoute('create_contact_from_mail_author', { mailId: mail.id}) }}" class="dropdown-item">{{ 'mail.action.create_contact'|trans }}</a>
                    <a href="{{ ea_url().setRoute('attach_contact_from_mail_author', { mailId: mail.id}) }}" class="dropdown-item">{{ 'mail.action.attach_contact'|trans }}</a>
                    {% endif %}
                    {% if mail.treated %}
                        <a hx-put="{{ path('webmail_mark_as_untreated', { mailId: mail.id }) }}"
                            hx-target="#mailList"
                            href="{{ path('webmail_mark_as_untreated', { mailId: mail.id }) }}"
                            class="dropdown-item">{{ 'mail.action.mark_as_untreated'|trans }}</a>
                    {% else %}
                        <a hx-put="{{ path('webmail_mark_as_treated', { mailId: mail.id }) }}"
                            hx-target="#mailList"
                            href="{{ path('webmail_mark_as_treated', { mailId: mail.id }) }}"
                            class="dropdown-item">{{ 'mail.action.mark_as_treated'|trans }}</a>
                    {% endif %}
                    <a href="{{ path('webmail_mail_debug', { mailId: mail.id }) }}" class="dropdown-item">Dump</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
                    <li class="nav-item">
                        <a href="#tabs-text" class="nav-link active" data-bs-toggle="tab">Text</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabs-html" class="nav-link" data-bs-toggle="tab">Html</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabs-headers" class="nav-link" data-bs-toggle="tab">Headers</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tabs-text">
                        {{ mail.textPlain |nl2br }}
                    </div>
                    <div class="tab-pane" id="tabs-html">
                        <div class="alert alert-warning m-4" role="alert">
                            <h4 class="alert-title">{{ 'mail.alert.html_disable.title'|trans }}</h4>
                            <div class="text-secondary">{{ 'mail.alert.html_disable.message'|trans }}</div>
                        </div>
{#                        {{ mail.textHtml | raw }}#}
                    </div>
                    <div class="tab-pane active show" id="tabs-headers">
                        {{ mail.headerRaw |nl2br }}
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
