{#<div>{{ imapConfigId }}</div>#}
{#<div>{{ folder }}</div>#}
{% trans_default_domain 'webmail' %}

<div class="card">
    <div class="card-header">
        <div class="card-title">{{ mailbox.name }}</div>
    </div>
    {% if mails|length > 0 %}
    <div class="table-responsive">
    <table class="table table-vcenter card-table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>{{ 'mail.field.date'|trans }}</th>
            <th>{{ 'mail.field.from'|trans }}</th>
            <th>{{ 'mail.field.subject'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for mail in mails %}
            {% set cssRow = mail.isTreated ? 'class="text-secondary"' : '' %}
        <tr
            class="cursor-pointer"
            hx-get="{{ path('webmail_mail', { mailId: mail.id }) }}"
            hx-target="#mailList"
        >
            <td {{ cssRow|raw }}><time datetime="{{ mail.date|date('c') }}" title="{{ mail.date|date('r') }}">{{ mail.date|date('d/m/y H:i:s') }}</time></td>
            <td {{ cssRow|raw }}>
                <div class="col-auto">
{#                    <twig:Avatar :email="mail.fromAddress" :displayName="mail.fromName" />#}
                </div>
                <div class="col">
                {% if mail.authorId %}
                    <a href="{{ ea_url()
                        .setController('App\\Presentation\\Controller\\Admin\\ContactCrudController')
                        .setAction('detail')
                        .setEntityId(mail.authorId)
                    }}" title="{{ mail.fromName }} &lt;{{ mail.fromAddress }}&gt;">
                        <span class="fas fa-id-card"></span> {{ mail.authorName }}
                    </a>
                {% else %}
                    <span>{{ mail.fromName }} &lt;{{ mail.fromAddress }}&gt;</span>
                {% endif %}
                </div>
            </td>
            <td {{ cssRow|raw }}>{{ mail.subject }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% else %}
        <div class="alert alert-info m-4" role="alert">
            <h4 class="alert-title">{{ 'mail.alert.empty_folder.title'|trans }}</h4>
            <div class="text-secondary">{{ 'mail.alert.empty_folder.message'|trans }}</div>
        </div>
    {% endif %}
</div>
